.items {
	width: 100%;
	padding: 0 5%;
}
.titles {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: var(--g-color-grey);
}
.id,
.first_name,
.last_name,
.email,
.message {
	padding: 10px;
	border-right: .5px solid var(--g-light-grey);
	font-family: serif;
	font-weight: bold;
	color: var(--g-color-white);
}
.id {
	width: 5%;
}
.first_name {
	width: 10%;
}
.last_name {
	width: 15%;
}
.email {
	width: 20%;
}
.message {
	width: 50%;
	border: none;
}
.item {
	display: flex;
	justify-content: space-between;
	border-top: .5px solid var(--g-line-grey);
	background-color: var(--g-color-white);
}
.item:nth-child(even) {
	background-color: var(--g-light-blue);
}
.item-id,
.item-firstname,
.item-lastname,
.item-email,
.item-message,
.item-date {
	display: inline-flex;
	align-items: center;
	padding: 0 10px;
	border-right: .5px solid var(--g-line-grey);
}
.item-id > div,
.item-firstname > div,
.item-lastname > div,
.item-email > div,
.item-message > div,
.item-date > div {
	white-space: nowrap;
	width: 439px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item-id {
	width: 5%;
}
.item-firstname {
	width: 10%;
}
.item-lastname {
	width: 15%;
}
.item-email {
	width: 20%;
}
.item-message {
	width: 30%;
}
.item-date {
	width: 15%;
	border: none;
}
.item-view {
	border-right: .5px solid var(--g-line-grey);
}
.item-view,
.item-delete {
	width: 10%;
	padding: 10px 0;
	text-align: center;
	text-decoration: none !important;
}
.item-view > .button,
.item-delete > .button {
	display: inline-flex;
	padding: 10px 30px;
	border-radius: 5px;
}
.item-delete > .button {
	background-color: var(--g-color-red);
}
.item-delete > .button:hover {
	background-color: var(--g-dark-red);
}
