.FormMessage {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 50px;
	border-radius: 10px;
	background-color: var(--g-color-white);
}
.FormMessage-image {
	display: flex;
	justify-content: center;
}
.FormMessage-image > img {
	object-fit: contain;
}
.FormMessage > form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.FormMessage > form textarea {
	min-width: 350px;
	min-height: 200px;
	margin-bottom: 10px;
	padding: 10px 25px 0;
	border: none;
	border-radius: 20px;
	font-weight: bold;
	background-color: var(--g-line-grey);
	color: var(--g-color-grey);
	box-shadow: none;
	transition: .5s;
}
.FormMessage > form textarea::placeholder {
	color: var(--g-light-grey);
}
.FormMessage > form textarea:focus {
	outline: none;
	box-shadow: 0px 0px 10px var(--g-color-2);
}
.FormMessage > form .button {
	width: 200px;
}
.FormMessage > form .button i {
	position: relative;
	left: 10px;
	transition: .3s;
	transition-timing-function: ease-in-out;
}
.FormMessage > form .button:hover i {
	left: 15px;
}

@media (max-width: 575.888px) {
	.FormMessage {
		padding: 20px 0;
	}
	.FormMessage > form {
		margin-top: 20px;
	}
	.FormMessage > form textarea {
		min-width: 100%;
	}
}
