.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 0;
	border-radius: 10px;
	background-color: var(--g-color-white);
}
.login > .button {
	width: 150px;
}
.login > .button i {
	position: relative;
	left: 10px;
	transition: .3s;
	transition-timing-function: ease-in-out;
}
.login > .button:hover i {
	left: 15px;
}
