.items {
	width: 100%;
	display: flex;
	padding: 0 5%;
}
.titles {
	width: 10%;
	height: 100%;
	justify-content: space-between;
	background-color: var(--g-color-grey);
}
.id,
.first_name,
.last_name,
.email,
.message,
.date {
	padding: 10px;
	border-bottom: .5px solid var(--g-light-grey);
	font-family: serif;
	font-weight: bold;
	color: var(--g-color-white);
}
.date {
	border: none;
}
.viewitem {
	width: 90%;
	border-top: .5px solid var(--g-line-grey);
}
.viewitem-id,
.viewitem-firstname,
.viewitem-lastname,
.viewitem-email,
.viewitem-message,
.viewitem-date {
	align-items: center;
	padding: 10px;
	border-top: .5px solid var(--g-line-grey);
	background-color: var(--g-color-white);
}
.viewitem-id {
	border: none;
}
.buttons {
	display: flex;
	justify-content: flex-end;
}
.item-back,
.item-delete {
	margin-right: 10px;
	padding: 10px 0;
	text-align: center;
	text-decoration: none !important;
}
.item-back > .button,
.item-delete > .button {
	display: inline-flex;
	align-items: center;
	padding: 10px 30px;
	border-radius: 5px;
}
.item-delete > .button {
	background-color: var(--g-color-red);
}
.item-delete > .button:hover {
	background-color: var(--g-dark-red);
}
.item-back > .button > i {
	padding-right: 10px;
}
